target/test-classes/choice-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="choice-testFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" doc:name="HTTP"/>
        <set-variable variableName="qpname" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="qpname=='Apple'">
                <flow-ref name="choice-testSub_Flow" doc:name="choice-testSub_Flow"/>
            </when>
            <when expression="qpname=='Orange'">
                <flow-ref name="choice-testSub_Flow1" doc:name="choice-testSub_Flow1"/>
            </when>
            <otherwise>
                <logger message="Sorry i am a default one" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="choice-testSub_Flow1">
        <set-payload value="#['Hi i am in - Orange']" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="choice-testSub_Flow">
        <set-payload value="#['Hi i am in - Apple']" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </sub-flow>
</mule>
